<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b7582620-01a4-48aa-9fdb-9cbe73f27411" Alias="blogListing" Level="1">
  <Info>
    <Name>BlogListing</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="2c5e88bd-3d73-415b-8be0-e1d5f130f814" SortOrder="0">blogItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>