<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fd6195ed-9c7f-4ae4-b1f8-e35a98deb2df" Alias="CardContainer - ComponentArea - Block List" Level="1">
  <Info>
    <Name>CardContainer - ComponentArea - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "eb57e87b-04f3-46a0-95b3-c59e7a695adc",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>