<?xml version="1.0" encoding="utf-8"?>
<DataType Key="621a7948-1847-4bc6-9aa5-701e23c70bc5" Alias="NavBarNested" Level="1">
  <Info>
    <Name>NavBarNested</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "navBarItem",
      "ncTabAlias": "NavBar",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>