<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7bd59777-5509-4501-8e2f-ca85f7fbe72a" Alias="Site - Footer - Nested Content" Level="1">
  <Info>
    <Name>Site - Footer - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "footerItem",
      "ncTabAlias": "Footer",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>