<?xml version="1.0" encoding="utf-8"?>
<Media Key="403f7333-f6cf-46cc-9e7f-26cc58d6801c" Alias="Logo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-01-03T09:14:32</CreateDate>
    <NodeName Default="Logo" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/gvzd4qgp/logo.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>