<?xml version="1.0" encoding="utf-8"?>
<Content Key="7da3453b-b4a2-49ae-9a67-0505f4cab422" Alias="Blog" Level="2">
  <Info>
    <Parent Key="ff8affea-365a-4120-9059-0cddec710ed5">Site</Parent>
    <Path>/Site/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>blogListing</ContentType>
    <CreateDate>2022-01-03T11:57:11</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>